// avatar
.teacherAvatar {
  width: 84px;
  height: 94px;
  display: block;
  object-fit: contain;
  @media (max-width:414px) {
    width: 48px;
    height: 48px;
  }
}

.courseAvatar {
  width: 96px;
  height: 96px;
}

.userAvatar {
  width: 60px;
  height: 60px;
  display: block;
  object-fit: contain;
}

// img-overlay
.img-overlay {
  height: 420px;
  @media (max-width: 768px) {
    height: 252px;
  }
  @media (max-width: 414px) {
    height: 420px;
  }
}

// course
.banner-course {
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1540206276207-3af25c08abc4.jpeg?raw=true');
  height: 339px;
  @media (max-width: 414px) {
    height: 218px;
  }
}

.modal-img {
  height: 418px;
  width: 418px;
  object-fit: cover;
  display: block;
  @media (max-width: 768px) {
    width: 264px;
  }
  @media (max-width: 414px) {
    width: 165px;
    height: 165px;
    margin: 0 auto;
  }
}