// logo
.text-hidden {
  text-indent: 101%; /*首行縮排*/
  overflow: hidden; /*自動隱藏超出的文字或圖片*/
  white-space: nowrap; /*希望元素在第一排上面，沒有斷行*/
}

// banner
.bg-cover {
  background-size: cover;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

// img
.fit-bottom {
  object-position: bottom;
}

.fit-center {
  object-position: center center;
}

.fit-cover {
  object-fit: cover;
}

// spacer
.ms-minus {
  margin-left: -90px;
  @media (max-width: 768px) {
    margin-left: 60px;
  }
  @media (max-width: 414px) {
    margin-left: 0px;
  }
}

// z-index
.z--1 {
  z-index: -1;
}

.z-10 {
  z-index: 10;
}

// utilities
$utilities: (
  'line-height': (
    property: line-height,
    responsive: true,
    class: lh,
    values: (
      1: 1,
      sm: $line-height-sm,
      base: $line-height-base,
      lg: $line-height-lg,
      24: 24px,
      30: 30px,
      36: 36px,
      42: 42px,
      54: 54px,
    ),
  ),
  'font-size': (
    rfs: true,
    property: font-size,
    responsive: true,
    class: fs,
    values: (
      1: $h1-font-size,
      2: $h2-font-size,
      3: $h3-font-size,
      4: $h4-font-size,
      5: $h5-font-size,
      6: $h6-font-size,
      36: $h6-font-size * 2.25,
      48: $h6-font-size * 3,
    ),
  ),
  'width': (
    property: width,
    responsive: true,
    class: w,
    values: (
      10: 10%,
      20: 20%,
      30: 30%,
      40: 40%,
      50: 50%,
      60: 60%,
      70: 70%,
      80: 80%,
      90: 90%,
      100: 100%,
    ),
  ),
  'height': (
    property: height,
    responsive: true,
    class: h,
    values: (
      10: 10%,
      20: 20%,
      30: 30%,
      40: 40%,
      50: 50%,
      60: 60%,
      70: 70%,
      80: 80%,
      90: 90%,
      100: 100%,
    ),
  ),
  'viewport-height': (
    property: height,
    responsive: true,
    class: vh,
    values: (
      10: 10vh,
      15: 15vh,
      20: 20vh,
      23: 22vh,
      25: 25vh,
      30: 30vh,
      35: 35vh,
      40: 40vh,
      50: 50vh,
      55: 55vh,
      60: 60vh,
      70: 70vh,
      80: 80vh,
      90: 90vh,
      100: 100vh,
    ),
  ),
  'rounded': (
    property: border-radius,
    class: rounded,
    values: (
      null: $border-radius,
      0: 0,
      1: $border-radius-sm,
      2: $border-radius,
      3: $border-radius-lg,
      16: 1rem,
      circle: 50%,
      pill: $border-radius-pill,
    ),
  ),
  'rounded-top': (
    property: border-top-left-radius border-top-right-radius,
    class: rounded-top,
    values: (
      null: $border-radius,
      0: 0,
      1: $border-radius-sm,
      2: $border-radius,
      3: $border-radius-lg,
      16: 1rem,
      circle: 50%,
      pill: $border-radius-pill,
    ),
  ),
);
