// logo
.text-hidden {
  text-indent: 101%; /*首行縮排*/
  overflow: hidden; /*自動隱藏超出的文字或圖片*/
  white-space: nowrap; /*希望元素在第一排上面，沒有斷行*/
}

// scroll bar
.scrollbar-none {
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.scrollbar-thin {
  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $primary;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary;
  }
}

// bg-effect
.bg-cover {
  background-size: cover;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-fixed {
  background-attachment: fixed;
}

// img
.fit-bottom {
  object-position: bottom;
}

.fit-center {
  object-position: center center;
}

.fit-cover {
  object-fit: cover;
}

// spacer
.ms-minus {
  margin-left: -90px;
  @media (max-width: 768px) {
    margin-left: 60px;
  }
  @media (max-width: 414px) {
    margin-left: 0px;
  }
}

// z-index
.z--1 {
  z-index: -1;
}

.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

.stretch {
  align-items: stretch;
}

// input
.input-info {
  &.form-control::placeholder {
    color: $info;
  }
}

.input-secondary {
  &.form-control::placeholder {
    color: $secondary;
  }
}

// pointer
.pointer {
  cursor: pointer;
}
