
.carousel-img {
  width: 445px;
  height: 445px;
  @media (max-width: 768px) {
    width: 150px;
    height: 150px;
  }
  @media (max-width: 414px) {
    width: 165px;
    height: 165px;
  }
}

@media (max-width: 768px) {
  .scroll {
    overflow-x: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
